/* контейнер */
.profile__info {
  display: grid;
  grid-template-columns: 1fr 248px;
  grid-template-rows: 1fr;
  column-gap: 18px;
  grid-template-areas:
    "title edit"
    "subtitle .";
  margin: 22px 0px 25px 0px;
}

@media screen and (max-width: 935px) {
  .profile__info {
    position: relative;
    grid-template-columns: 1fr 0px;
    column-gap: 0px;
    row-gap: 11px;
    margin-bottom: 36px;
  }
}
