.profile__pen-editor {
  display: block;
  margin: 47px;
  position: absolute;
  z-index: 5;
  background-image: url(../../../image/pen-editor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  transition: all 1s;
  border: none;
}

.profile__pen-editor:hover {
  cursor: pointer;
  opacity: 0.6;
}
