/* строка ввода */
.popup-card__line {
  width: 358px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-top: 46px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup-card__line:last-of-type {
  margin-top: 43px;
}

@media screen and (max-width: 935px) {
  .popup-card__line {
    margin: 68px 22px 0px 22px;
    width: calc(282px - 44px);
  }
  .popup-card__line:last-of-type {
    margin-top: 45px;
  }
}
