/* кнопка save */
.popup__save-button {
  min-height: 50px;
  width: calc(430px - 72px);
  margin: 61px auto 37px;
  background: #000000;
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 935px) {
  .popup__save-button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px 22px;
  }
}
