.card {
  max-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit);
  grid-gap: 20px 17px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 935px) {
  .card {
    max-width: fit-content;
    grid-row-gap: 20px;
  }
}
