/* имя под изображением */
.popup__name-photo {
  position: absolute;
  z-index: 8;
  left: 0;
  bottom: -20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 0;
}
